@use "../colors" as c;
@use "../typography" as t;

.cat-card {
  background-color: c.$light-primary;
  // width: 350px;
  flex: 0 0 350px;
  padding: 20px;

  &__img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 20px;
  }

  &__title {
    font-family: t.$secondary;
    font-weight: 100;
    text-align: center;
    letter-spacing: 1px;
    font-size: 2rem;
    text-transform: capitalize;
    margin-bottom: 20px;
  }

  &__separator {
    display: block;
    height: 2px;
    width: 60%;
    background-color: c.$orange-secondary;
    margin-inline: auto;
    margin-bottom: 10px;
  }

  &:hover {
    cursor: pointer;
    transform: rotate(2deg);
    box-shadow: 5px 5px 0 0 c.$orange-tertiary;
  }
}
