@use "../colors" as c;
@use "../typography" as t;

.newsletter {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-inline: auto;

  &__form {
    width: 250px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid c.$black-primary;

    &::placeholder {
      letter-spacing: 1.5px;
      font-size: 0.8rem;
      text-transform: uppercase;
    }
  }

  &__btn {
    background-color: c.$light-primary;
    padding: 5px 20px;
    border: 2px solid c.$orange-secondary;
    font-family: inherit;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.5px;

    &:hover {
      cursor: pointer;
      color: c.$orange-secondary;
    }
  }
}

@media (width < 400px) {
  .newsletter {
    flex-direction: column;

    &__form {
      width: 100%;
      margin-bottom: 10px;
    }

    &__btn {
      padding: 10px 60px;
      margin-inline: auto;
    }
  }
}
