.navbar {
  width: 100%;
  position: sticky;
  background-color: white;

  &__wrapper {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px 0;
  }
}

.nav-wrapper {
  display: flex;
  align-items: center;
  gap: 50px;
}

.nav {
  &__list {
    display: flex;
    gap: 30px;
  }

  &__list-item {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.7px;

    &:hover {
      cursor: pointer;
    }
  }
}

.hamburger {
  // background-color: rgb(210, 210, 245);
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;

  &:hover {
    cursor: pointer;
  }

  &__bar {
    display: block;
    background-color: black;
    width: 100%;
    height: 4px;
    position: relative;

    &::before {
      content: "";
      display: block;
      width: 50%;
      height: 4px;
      background-color: black;
      position: absolute;
      top: -250%;
    }

    &::after {
      content: "";
      display: block;
      width: 50%;
      height: 4px;
      background-color: black;
      position: absolute;
      bottom: -250%;
      right: 0;
    }
  }
}
