@use "../typography" as t;

.heading {
  width: 100%;
  text-align: center;

  &__primary {
    line-height: 0.9;
    font-size: 5rem;
    font-family: t.$secondary;
  }

  &__dot {
    color: orange;
  }
}
