@import url("https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Pacifico&family=Raleway&family=Jomolhari:wght@100..900&family=Parisienne&display=swap");

$main-font: "Raleway", sans-serif;
$secondary: "Jomolhari", serif;
$tertiary: "Parisienne", serif;
$logo: "Pacifico", serif;
$headline: "Delius Swash Caps", serif;
